.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  height: 400px;
  width: 380px;
  background: #fff;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);

  margin-top: 52px;
}

.formContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.nameInput {
  height: 25px;
  width: 280px;
  margin-top: 10px;
  border: 1px solid #2c0101bf;
  border-radius: 5px;

  padding: 5px;
  font-size: 12px;
}

.emailInput {
  height: 25px;
  width: 280px;
  margin-top: 30px;
  border: 1px solid #2c0101bf;
  border-radius: 5px;

  padding: 5px;
  font-size: 12px;
}

.passwordInput {
  height: 25px;
  width: 280px;
  margin-top: 30px;
  border: 1px solid #2c0101bf;
  border-radius: 5px;

  padding: 5px;
  font-size: 12px;
}

.buttonEntrar {
  height: 45px;
  width: 290px;
  border-radius: 5px;

  margin-top: 45px;
  border: 1px solid #2c0101bf;
  background: #2c0101bf;
  color: #fff;
  font-size: 16px;
}

.buttonEntrar:hover {
  cursor: pointer;
}

.register {
  color: #2c0101bf;
}
